<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ArticleModel.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ArticleModule.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ArticleServiceModule.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Articles.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CommonModule.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>CoreDataModule.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>NetworkingModule.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>689BB39F2433BFF0003E2FB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>689BB3BA2433BFF1003E2FB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>689BB3C52433BFF1003E2FB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68BEC1192433E472004D8D50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68BEC1402433E727004D8D50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68BEC1662433E89C004D8D50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68BEC1C6243476AD004D8D50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
